.cart .header {
    display: grid;
    grid-template-columns: 1fr 100px 100px 30px;
    grid-gap: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
}

.cart .header p:nth-child(2){ 
    text-align: right;
}

.cart .header p:nth-child(3){ 
    text-align: center;
}

.cart .item {
    display: grid;
    grid-template-columns: 1fr 100px 100px 30px;
    align-items: center;
    grid-gap: 16px;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.cart .item:hover {
    background: rgba(0, 0, 0, 0.02);
}

.cart .item > a {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.cart .item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 16px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.cart .item .title {
    color: #222;
}

.cart .item .price {
    text-align: right;
    color: #555;
}

.cart .item .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .item .quantity-control .quantity {
    margin: 0 8px;
    color: #666;
}

.cart .item .quantity-control i {
    color: #666;
}

.cart .item .quantity-control i:hover {
    color: #333;
}

.cart .add,
.cart .delete,
.cart .remove {
    cursor: pointer;
    background: none;
}

.cart .delete {
    color: rgb(240, 110, 110);
}

.cart .delete:hover {
    color: rgb(204, 48, 48);
}

.cart .total {
    margin-top: 16px;
    text-align: right;
}

.cart .total p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-bottom: 4px;
}

.cart .total span {
    font-weight: bolder;
    font-size: 22px;
    color: #444;
}

.cart .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.cart .button.shop {
    width: 240px;
}

.cart .button.order {
    background: rgb(44, 197, 95);
}

.cart .button.order:hover {
    background: rgb(20, 145, 61);
}

/* Empty cart */

.cart-empty {
    text-align: center;
}

.cart-empty p { 
    font-size: 18px;
    color: #555;
}

.cart-empty .button {
    width: 240px;
    margin: 16px auto;
}

.cart-empty img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 8px;
    text-align: center;
    align-self: center;
}

/* Cart menu */

header div.container {
    grid-template-columns: 220px auto 315px;
    grid-gap: 8px;
}

li.cart a {
    position: relative;
}

li.cart a span {
    background-color: rgb(204, 48, 48);
    border-radius: 50%;
    width:  16px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;

    transition: all 200ms;
}

li.cart a:hover span{
    background-color: white;
    color: rgb(204, 48, 48);
    width:  24px;
    height: 24px;
}

