{% extends "layout.njk" %}

{% block head %}
    <title>Detalhes do Instrutor</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url('{{ data.avatar_url }}') no-repeat center center / cover;">
        
        </section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>{{ data.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ data.age }}</div>
            </div>
 
            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if data.gender == 'M' else "Feminino" }}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in data.services %}
                        <span>{{ service }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ data.created_at }}</div>
            </div>

            <a href="/instructors/{{data.id}}/edit" class="button">Editar</a>
            
        </section>
    </div>
{% endblock content %}