{% extends "layout.njk" %}

{% import "parts/card.njk" as cards %}

{% block head %}
    <title>Novo Usuário</title>
{% endblock head %}

{% block content %}
    
    {% call cards.render('Cadastrar-se','users-register container')%}
        <form method="POST" action="/users/register" >

            <div class="header">
                <h3></h3>
            </div>

            <div class="fields">
                {% include 'user/fields.njk' %}
            </div>

            <button class="button" type="submit">Salvar</button>
        </form>
    {% endcall %}  

{% endblock content %}