{% extends "layout.njk" %}

{% block head %}
    <title>Instrutores</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">

        <a href="/instructors/create">Novo</a>
        
        <table width="100%">
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Serviços</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url('{{instructor.avatar_url}}')"></span>
                            {{instructor.name}}
                        </td>
                        <td>{{instructor.services}}</td>
                        <td><a href="/instructors/{{instructor.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# <section class="avatar" style="background: url('https://source.unsplash.com/collection/8353395/900x900') no-repeat center center / cover;">
        
        </section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">  
                <div>Instrutor</div>
                <div>Tony Amaral</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>29</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>Masculino</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Musculação</span>
                    <span>Crossfit</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>06/05/2020</div>
            </div>
        </section> #}
    </div>
{% endblock content %}